
.sidebar-container {
    background-color: #003049;
}

.logo-container{
    height: 70px;
    /* border: 1px solid #fff; */
    font-weight: bold;
    font-size: 20px;
}

.navigation-container{
    /* border: 1px solid #fff; */

}


.sidebar-container .nav-link:hover {
    background-color: #d62828;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.active {
    background-color: #d62828;
    color: #fff;
    border-radius: 5px;
}